{% extends "base.html" %}
{% load humanize %}

  {% block extra-rss %}
  <link rel="alternate" type="application/rss+xml" 
    title="Latest stories from {{ author.name }}" 
    href="{{ author.get_feed_url }}" />
  {% endblock %}

  {% block headline %}
   <div style="float:right;">
        <a href="{{ author.get_feed_url }}">
            <img src="{{ MEDIA_URL }}img/rss.gif">
        </a>
    </div>
   <h1>{{ author.name }} :: {{ headline|safe }} :: <a href="/">The Politico Firehose</a></h1>
   <h3>{{ author.get_display_story_count|intcomma }} stories since we've been tracking</h3>
   <h4>Last story posted on {{ author.updated_local|date:"N d" }} at {{ author.updated_local|time:"h:i a" }}</h4>
  {% endblock %}

  {% block content %}
      <table id="table_list" cellspacing="0">
          <tbody>
              {% for obj in author.get_story_list %}
              <tr id="{{ obj.link }}">
                  <td class="bordertop {% if forloop.last %}borderbottom{% endif %}">
                      <div class="item">
                      <h2><a target="_blank" class="headline" href="{{ obj.link }}">{{ obj|safe }}</a></h2>
                      <span class="byline">
                        By&nbsp;{{ obj.get_rendered_byline_html|safe }}
                      </span>
                      <span class="pubdate">{{ obj.updated_local|date:"N d" }} at {{ obj.updated_local|time:"h:i a" }}</span>
                      </div>
                  </td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
  {% endblock %}


