{% extends "base.html" %}

  {% block headline %}
   <div style="float:right;">
        <a href="{% url feeds "latest" %}">
            <img src="{{ MEDIA_URL }}img/rss.gif">
        </a>
    </div>
   <h1>{{ headline|safe }} :: The Politico Firehose</h1>
  {% endblock %}

  {% block content %}
      <table id="table_list" cellspacing="0">
          <tbody>
              {% for obj in object_list %}
              <tr id="{{ obj.link }}">
                  <td style="{% if not forloop.first %}border-top: 1px dotted gray;{% endif %}{% if forloop.last %}border-bottom: 1px dotted gray;{% endif %}">
                      <h2><a target="_blank" class="headline" href="{{ obj.link }}">{{ obj|safe }}</a></h2>
                      <span class="byline">
                        By&nbsp;{{ obj.get_rendered_byline_html|safe }}
                      </span>
                      <span class="pubdate">{{ obj.updated_local|date:"N d" }} at {{ obj.updated_local|time:"h:i a" }}</span>
                      <p class="description"></p>
                  </td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
  {% endblock %}
